.modal-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:2000;

}

.modal-box{

width:850px;

max-width:95%;

background:white;

border-radius:20px;

padding:30px;

box-shadow:0 20px 60px rgba(0,0,0,.2);

animation:popup .25s ease;

}

@keyframes popup{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}

.modal-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.modal-header h2{

margin:0;

color:#1e293b;

}

.close-btn{

border:none;

background:none;

font-size:20px;

cursor:pointer;

}

.form-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

}

.form-grid input,
.form-grid select{

padding:14px;

border:1px solid #dbeafe;

border-radius:10px;

outline:none;

font-size:15px;

}

.modal-footer{

display:flex;

justify-content:flex-end;

gap:15px;

margin-top:30px;

}

.cancel-btn{

padding:12px 20px;

background:#e5e7eb;

border:none;

border-radius:10px;

cursor:pointer;

}

.save-btn{

padding:12px 22px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

}

.save-btn:hover{

background:#1d4ed8;

}