/* =========================
   NAVBAR
========================= */

.navbar{

position:fixed;

top:0;

left:260px;

right:0;

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:0 8px 30px rgba(0,0,0,.08);

z-index:999;

}

/* =========================
LEFT
========================= */

.navbar-left{

display:flex;

align-items:center;

gap:20px;

}

.menu-btn{

width:45px;

height:45px;

border:none;

background:#2563eb;

color:white;

border-radius:12px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.menu-btn:hover{

transform:scale(1.08);

}

.search-box{

display:flex;

align-items:center;

gap:12px;

background:#f5f7fb;

padding:12px 18px;

border-radius:30px;

width:420px;

}

.search-icon{

color:#64748b;

}

.search-box input{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}

/* =========================
RIGHT
========================= */

.navbar-right{

display:flex;

align-items:center;

gap:18px;

}

.icon-btn{

width:45px;

height:45px;

border:none;

background:#eef4ff;

color:#2563eb;

border-radius:12px;

cursor:pointer;

font-size:18px;

transition:.3s;

position:relative;

}

.icon-btn:hover{

background:#2563eb;

color:white;

transform:translateY(-2px);

}

.notification{

position:relative;

}

.badge{

position:absolute;

top:-5px;

right:-5px;

width:20px;

height:20px;

background:#ef4444;

color:white;

border-radius:50%;

font-size:11px;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

}

/* =========================
PROFILE
========================= */

.profile{

display:flex;

align-items:center;

gap:12px;

cursor:pointer;

padding:8px 14px;

border-radius:15px;

transition:.3s;

}

.profile:hover{

background:#f8fafc;

}

.profile-icon{

font-size:46px;

color:#2563eb;

}

.profile h4{

margin:0;

font-size:15px;

font-weight:600;

color:#0f172a;

}

.profile p{

margin:3px 0 0;

font-size:12px;

color:#64748b;

}

/* =========================
RESPONSIVE
========================= */

@media(max-width:992px){

.navbar{

left:80px;

}

.search-box{

width:250px;

}

}

@media(max-width:768px){

.navbar{

left:0;

padding:0 15px;

}

.search-box{

display:none;

}

}