.recent-card{

background:#fff;

margin-top:30px;

padding:25px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

overflow:auto;

}

.recent-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.recent-header h2{

margin:0;

font-size:24px;

color:#1e293b;

}

.view-all-btn{

background:#2563eb;

color:#fff;

border:none;

padding:10px 20px;

border-radius:10px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.view-all-btn:hover{

background:#1d4ed8;

}

.recent-table{

width:100%;

border-collapse:collapse;

}

.recent-table th{

background:#f8fafc;

padding:16px;

text-align:left;

font-size:15px;

color:#475569;

}

.recent-table td{

padding:18px 16px;

border-bottom:1px solid #e2e8f0;

}

.recent-table tr:hover{

background:#f8fbff;

}

.employee-info{

display:flex;

align-items:center;

gap:15px;

}

.employee-avatar{

width:50px;

height:50px;

border-radius:50%;

object-fit:cover;

}

.employee-info h4{

margin:0;

font-size:16px;

}

.employee-info p{

margin-top:4px;

font-size:13px;

color:#64748b;

}

.status{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

}

.active{

background:#dcfce7;

color:#15803d;

}

.inactive{

background:#fee2e2;

color:#dc2626;

}

.view-btn{

display:flex;

align-items:center;

gap:8px;

padding:8px 15px;

border:none;

background:#2563eb;

color:white;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.view-btn:hover{

background:#1d4ed8;

transform:translateY(-2px);

}