@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #001f54,
        #034078,
        #1282a2,
        #0a6cf1
    );
    background-size:400% 400%;
    animation:bgMove 10s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.container{
    width:420px;
    padding:40px;
    text-align:center;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.2);
    border-radius:25px;

    box-shadow:
    0 15px 35px rgba(0,0,0,0.3),
    inset 0 1px 1px rgba(255,255,255,0.2);
}

h1{
    color:white;
    margin-bottom:15px;
    font-size:2rem;
}

p{
    color:#dbeafe;
    margin-bottom:25px;
    font-size:1.1rem;
}

input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:15px;
    font-size:18px;
    text-align:center;
    margin-bottom:20px;

    background:rgba(255,255,255,0.15);
    color:white;
}

input::placeholder{
    color:#dbeafe;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    cursor:pointer;

    font-size:18px;
    font-weight:600;

    color:white;

    background:linear-gradient(
        135deg,
        #38bdf8,
        #2563eb
    );

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 25px rgba(59,130,246,0.8);
}

button:active{
    transform:scale(0.97);
}

#result{
    margin-top:25px;
    font-size:1.4rem;
    font-weight:600;
    min-height:40px;
}