<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Employee Automation Suite">


    <test name="Employee Tests">


        <classes>


            <class name="com.employee.automation.tests.EmployeeTest"/>


            <class name="com.employee.automation.tests.EditEmployeeTest"/>


            <class name="com.employee.automation.tests.DashboardTest"/>


        </classes>


    </test>


</suite>